@import "../../variables";

.about_ctr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.about_content {
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  gap: 2rem
}


