@import "../../variables";

.about_section {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.about_ctr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about_title {
  font-family: $primary-font;
}

.about_content {
  font-family: $primary-font;
}
