@import "../../variables";

.home_ctr {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.home_main_content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.home_desc_content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hello_typewriter {
  font-family: $primary-font;
  font-size: 70px;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.home_list {
  font-family: $primary-font;
  padding: 0.5em;
}

.home_role {
  font-family: $primary-font;
  font-size: 40px;
}

.home_short {
  font-family: $primary-font;
  font-size: 40px;
}

.home_btn_ctr {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.about_btn,
.contact_btn {
  font-family: $primary-font;
  font-size: 20px;
  background-color: #0D0D0D;
  border: solid 1px #0D0D0D;
  border-radius: 0.25em;
  color: #F2F2F2;
  padding: 1em;
  min-width: 100px;
  transition: transform 0.3s ease-in-out;
  &:hover {
    background-color: #F2F2F2;
    color: #0D0D0D;
    transform: scale(1.2);
  }
}

.social_ctr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.social_el {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}
