@import "../../variables";

.home_ctr {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.home_main_content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.home_desc_content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home_btn_ctr {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.welcome_text {
  width: 8ch;
  font-family: monospace;
  font-size: 1em;
  animation: typing 1.25s steps(8), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

.highlight {
  font-weight: bold;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
