@media only screen and (min-width: 821px), (max-width: 1089px) {
  .item_job {
    font-size: 2rem;
  }
  .item_desc {
    font-size: 1.5rem;
  }
}

/* small */
@media only screen and (max-width: 549px) {
  .item_date {
    display: flex;
  }
  .item_job {
    font-size: 1.5rem;
  }
  .item_desc {
    font-size: 1rem;
  }
}
