.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  min-height: calc(-80px + 100vh);
  padding: 5rem 1rem 0 8rem;
}

.nav_section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
